{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <h1>add news</h1>
    {{ form_start(newsform) }}



    {{ form_end(newsform) }}
{% endblock %}
